{{!< layout/default}}

<h1>Welcome!</h1>
<p>If you've previously stayed in a Centrepoint hostel and you need to your address history,
  rent arrears information or a rental reference for a current or upcoming rental application you
  can log in here to request the information you need. We will get back to you within 24 hours.</p>
  <!-- We may want to add a property to the context object that calculates the number of hours it
  will take to hear back from Centrepoint based on whether it's a weekday or the weekend -->
<span
  data-yoti-application-id="786f5bed-5638-4f40-bc0a-ee65b9f817f9"
  data-yoti-type="inline"
  data-yoti-scenario-id="ae8a4de4-0e85-4bfc-baad-1df239e90371"
  data-size="medium"
  data-target="embed">
  Log in with Yoti
</span>
<script>
    _ybg.config.service = 'https://www.yoti.com/connect/'
    _ybg.init()
</script>
