{{!< layout/default}}
{{> header-admin}}

<div class="container col s12 m10 l8">
       <ul class="collapsible" data-collapsible="accordion">
         <li>
           <div class="row top padding-left">
             <h5>
               <span class="col s3">Status</span>
               <span class="header__name col s3">Name</span>
               <span class="header__date col s3">Date</span>
             </h5>
           </div>
         </li>
         {{#each requests}}
         <li class="request">
           <div class="collapsible-header">
             <div class="row top">
               <span class="header__status col s3">{{this.active}}</span>
               <span class="header__name col s3">{{this.given_names}} {{this.family_name}}</span>
               <span class="header__date col s3">{{this.time_stamp_formatted}}</span>
             </div>
           </div>
           <div class="collapsible-body">
             <div class="row">
               <div class="col s2 m2 l2">Birthdate:</div><div class="col s4 m4 l4">{{this.birth_date_formatted}}</div>
             </div>

             {{#if this.street}}
             <div class="row">
               <div class="col s2 m2 l2">Address:</div><div class="col s4 m4 l4">{{this.street}}</div><br>
               <div class="col s4 m4 l4 push-l2">{{this.town}}, {{this.postcode}}</div>
             </div>
             {{/if}}

            <div class="row">
               <div class="col s2 m2 l2">Phone:</div><div class="col s4 m4 l4">{{this.phone_number}}</div>
             </div>

             <div class="row">
               <div class="col s2 m2 l2">Email:</div><div class="col s4 m4 l4">{{this.email}}</div>
            </div>

            <div class="row">
              <div class="col s4 m4 l4">Information requested:</div>
            </div>
            <div class="row">
              {{#if this.rental_history}}
                <div class="col s8 m8 l8"><i class="tiny material-icons">done</i> Accommodation history</div>
              {{/if}}
              {{#if this.rental_arrears}}
                <div class="col s8 m8 l8"><i class="tiny material-icons">done</i> Rental arrears report</div>
              {{/if}}
              {{#if this.rental_reference}}
                <div class="col s8 m8 l8"><i class="tiny material-icons">done</i> Rental reference</div>
              {{/if}}
              {{#if this.other_requests}}
                <div class="col s8 m8 l8"><i class="tiny material-icons">done</i> {{this.other_requests}}</div>
              {{/if}}
            </div>

            <div class="row">
              <div class="requestId col s4 m4 l4" data-value="{{this.request_id}}">Request ID: {{this.request_id}}</div>
            </div>

            <a class='dropdown-button btn' href='#' data-activates='dropdown{{this.request_id}}'>Assign request</a>
            <ul id='dropdown{{this.request_id}}' class='dropdown-content'>
              <li><a href="#!">one</a></li>
              <li><a href="#!">two</a></li>
            </ul>

            <a class='dropdown-button btn' href='#' data-activates='dropdown{{this.request_id}}b'>Close request</a>
            <ul id='dropdown{{this.request_id}}b' class='dropdown-content'>
              <li><a href="#!">one</a></li>
              <li><a href="#!">two</a></li>
            </ul>

           </div>
         </li>
         {{/each}}
       </ul>
       <div class="right-align">
         Add new admin <a class="new-admin btn-floating btn-medium waves-effect waves-light red"><i class="material-icons">add</i></a>
       </div>
</div>
<script src="public/requestSwitch.js"></script>
<script src="public/newAdmin.js"></script>
