{{!< layout/default}}
{{> header}}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h4 class="center-align" id="welcome">ALL DONE !</h4>
            <p class="center-align">Thanks for getting in touch with Centrepoint.</p>
            <div class="divider"></div>
            <div class="center-align">
              <i class="large material-icons" id="clock">schedule</i>
              <ul id="expect-time">
                <li>You can expect to hear from us</li>
                <li>in 24 hours.</li>
              </ul>
            </div>
        </div>
    </div>
</div>
<div class="container center">
    <div class="row">
        <div class="col s12">
            <div class="divider"></div>
            <ul>
                <li>Your digital ID was verified by</li>
                <img class="center" id="logo-submit" src="public/images/yoti-logo.svg" alt="">
                <li class="center-align"><a id="yoti-links" target="_blank" href="https://www.yoti.com/personal/where-can-i-use-yoti/ ">Where else can I use Yoti?</a></li>
            </ul>
        </div>
    </div>
</div>
