<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left">
      <li><img class="responsive-image centrepoint-img" src="https://centrepoint.org.uk/media/1001/logo-centrepoint.png" alt="centrepoint-logo" /></li>
    </ul>
    <a href="/" class="brand-logo center">
        <h4 class="black-text">Ex-residents dashboard</h4>
    </a>
    <ul id="nav-mobile" class="right">
      <li><a class="black-text" id="logout" href="/logout">LOGOUT</a></li>
    </ul>
  </div>
</nav>
<div class="section">
</div>
