<div class="container center">
    <div class="row">
        <div class="col s12">
            <span
              data-yoti-application-id="786f5bed-5638-4f40-bc0a-ee65b9f817f9"
              data-yoti-type="inline"
              data-yoti-scenario-id="ae8a4de4-0e85-4bfc-baad-1df239e90371"
              data-size="medium"
              data-target="embed">
              LOG IN WITH YOTI
            </span>
            <ul>
                <li class="center-align"><a id="yoti-links" target="_blank" href="https://www.yoti.com/ ">Don't have Yoti yet?</a></li>
            </ul>
        </div>
    </div>
</div>
<script>
    _ybg.config.service = 'https://www.yoti.com/connect/'
    _ybg.init()
</script>
