html {
  font-family: 'Lato', sans-serif;
  font-size: 0.95em;
}

body {
  background-color: rgb(246,246,246);
}

.info-header {
  font-size: 22px;
}

.container {
  /*width: 330px;*/
}

.info-check, .other {
  margin-left: 10px;
}

.other {
  margin-top: -25px;
}

.top {
  margin-top: 10px;
}

.timeframe {
  font-size: 10px;
  margin-top: -10px;
  padding-top: -10px;
}

.submit-btn {
  margin-top: 20px;
}

#welcome, #welcome2 {
  margin-top: 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

#logout {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.brand-logo img {
  padding: 5px;
  height: 58px;
}

.nav-wrapper {
  background-color: rgb(255,209,65);
}

.padding-right {
  padding-right: 5px;
}

.margin-left {
  margin-left: 15px;
}

#yoti-links {
  color: rgb(46,163,147);
  text-decoration: underline;
}

#clock {
  margin-top: 10px;
}

#expect-time {
  margin-top: 5px;
  margin-bottom: 5px;
}

#logo-submit {
  margin: 10px 0px;
  width: 80px;
}
