@media (min-width: 300px) {
    html {
      font-size: 100%;
    }
}

@media (min-width: 350px) {
    html {
      font-size: 107%;
    }
}

@media (min-width: 700px) {
    html {
      font-size: 110%;
    }
}

html {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: rgb(246,246,246);
}

.info-header {
  font-size: 22px;
}

.info-check, .other, .new-admin, .go-back {
  margin-left: 10px;
}

.other {
  margin-top: -25px;
}

.line-height {
  margin-top: -10px;
}

.top {
  margin-top: 10px;
}

.timeframe {
  font-size: 10px;
  margin-top: -10px;
  padding-top: -10px;
}

.submit-btn {
  margin-top: 20px;
}

#welcome {
  margin-top: 15px;
}

#welcome2 {
  margin-top: 25px;
}

#info-list {
  display: inline-block;
}

.admin-message {
  color: rgb(45,159,255);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

h4 {
  font-size: 34px;
}

h5 {
  font-size: 24px;
}

#logout {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.centrepoint-img {
  padding: 5px;
  height: 58px;
}

.nav-wrapper {
  background-color: rgb(255,209,65);
}

.padding-right {
  padding-right: 5px;
}

.margin-left {
  margin-left: 15px;
}

.padding-left {
  padding-left: 25px;
}

.dashboard__head {
  padding: 10px 0px 15px 15px;
  margin-left: 15px;
}

.padding-bottom {
  padding-bottom: 10px;
}

#yoti-links {
  color: rgb(46,163,147);
  text-decoration: underline;
}

#clock {
  margin-top: 10px;
}

#expect-time {
  margin-top: 5px;
  margin-bottom: 5px;
}

#logo-submit {
  margin: 10px 0px;
  width: 80px;
}

#status-icon {
  margin: 0;
  padding: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1rem;
}

.open {
  background-color: rgb(38,166,154);
}

.closed {
  background-color: rgb(244,67,54);
}

.progress {
  background-color: rgb(255,209,65);
}
